body { 
    font-family: sans-serif; 
}

a { 
    text-decoration: none; 
    color: #00A5CC; 
}

li.li_menu { 
    list-style-type: none; 
}

header { 
    width: 100%; 
    height: 50px; 
    margin: auto;
    border-bottom: 1px solid #EEE;
}

nav p{
    text-decoration: none;
    color: #00A5CC;
    text-align: left;
    margin: 1em;
}

nav { 
    width: 100%; 
    color: #FFFFFF;
    text-align: left; 
}

nav ul { 
    display: block; 
    padding: 15px 0;
    border-bottom: 1px solid #C0C0C0; 
    color: #F0EADC;
}
nav a:hover { 
    background: #E5DAC0; color: #FFF; 
}

nav li.li_menu{ 
    margin-left: 5%;
}


nav li.li_menu:last-child a { 
    border-bottom: none;
}

/*-----------------------------------------*/

#menu {
    width: 240px;
    height: 100%;
    position: absolute;
    background: #2F4F4F;
    left: -240px;
    top: 0px;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    
}
#toggleIcon {
    padding: 10px 20px;
    position: absolute;
    top: 10px;
    left: 10px;
    background: red;
    color: #FFFFFF;
    cursor: pointer;
    margin: 6px 6px 0 0;
    border-radius: 5px;
    opacity: 0;
}

#menuToggle {
  display: none; 
}

#menuToggle:checked ~ #menu { left: 0px }
#menuToggle:checked ~ #toggleIcon { background-color: blue; }


