* {margin: 0;padding: 0;}

body {
    background: url(images/body-background.png) #eae6d1;
    color: #666;
}

/* fonts */
@font-face {font-family: 'Montserrat-bold'; src: url('font/Montserrat-Bold.ttf');}
@font-face {font-family: 'Montserrat-regular'; src: url('font/Montserrat-Regular.ttf');}
h1, h2, h3, h4 {font-family: 'Montserrat-bold', "Arial", "sans-serif";}
a, p {font-family: 'Montserrat-regular', "Arial", "sans-serif";}


/* Margin and padding*/
h1 {margin: 10px 10px 10px 0; padding: 5px;}
h2, h3, h4, h5 {margin: 17.6px 0;}
p, table, pre, dl {padding-left: 20px;}
ol, ul {padding-left: 25px;}

/* General tags */
h1, h2, h3, h4, h5 {color: #414141}
h1 {
    text-align: center;
    background-color: #02A7E3;
    border-radius: 20px;
}
h1 > a {
    display: inline-block;
    color: #414141;
}
h1^a {
    background-color: white
    border: 1px solid rgb(0, 167, 227);
}

h2 {
    text-align: center;
    border: 1px solid #02A7E3;
    font-size: 1.2em;
    background-color: #02A7E3;
    border-radius: 20px;
}
h2 > a {
    color: black;
    font-weight: bold;
}

a {color: rgb(51, 153, 204);}

p {
    line-height: 1.5em; 
    margin: 1em;
}

ul, ol{
    line-height: 24px;
    margin-left: 20px;
}
li>ul {
    margin-left: 20px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 2em;
}
table tbody {
    border-top: 1px solid #e5e5e5;
    border-left: 1px solid #ffcc00;
}
table a {
    text-decoration: none;
}
table tr th {
    padding: 5px 10px; 
}
table tbody tr td {
    padding: 5px 10px;
    border-bottom: 1px solid #e5e5e5;
    border-right: 1px solid #ffcc00;
}

/* Containers */

body {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #F6F6F7;
}

.wrapper {
    margin: 30px 0;
    width: 1000px;
    padding: 30px;
    background-color: #FFFFFF;
    border-radius: 40px;
}


/* Responsive */
@media screen and (max-width: 1024px) {
    h1 {font-size: 24px;}

    h2 {font-size: 20.8px;}
}
